<footer class="tw-bg-red-950 tw-text-white tw-text-center tw-py-6 mt-auto">
  <!-- Logo -->
  <div class="tw-mb-4">
    <img src="https://www.ismayalive.com/assets/images/IsmayaLIVE-Logo-4c.svg" alt="Logo" class="tw-mx-auto tw-w-60 tw-h-auto">
  </div>

  <!-- Social Icons -->
  <div class="tw-flex tw-justify-center tw-space-x-6 tw-mb-4">
    <a target="_BLANK" href="https://www.instagram.com/ismayalive/"><i class="fab fa-instagram tw-text-3xl"></i></a>
    <a target="_BLANK" href="https://www.facebook.com/IsmayaLive/"><i class="fab fa-facebook-f tw-text-3xl"></i></a>
    <a target="_BLANK" href="https://x.com/ismayalive"><i class="fab fa-twitter tw-text-3xl"></i></a>
  </div>

  <!-- Footer Text -->
  <p class="tw-text-sm tw-text-gray-300">&copy; 2025 METALFEST. All rights reserved.</p>
</footer>