<div class="tw-w-full tw-bg-red-950">
    <div>
        <p>&nbsp;</p>
    </div>
    <div class="tw-mt-1 tw-mb-8">
        <center>
            <img src="https://assets.onecompiler.app/43j3f2yfk/43m2v9yzv/metalfest%20(1).png" class="tw-w-28 tw-h-28" alt="">
        </center>
    </div>
    <div class="tw-flex tw-justify-center tw-space-x-10 tw-text-center tw-text-white tw-mb-1">
        <div>
            <a class="tw-uppercase tw-text-lg {% if this.page.id == 'homepage' %} tw-font-semibold tw-text-red-700 {% endif %}" href="{{ '/' }}">Home</a>
        </div>
        <div>
            <a class="tw-uppercase tw-text-lg {% if this.page.id == 'line' %} tw-font-semibold tw-text-red-700 {% endif %}" href="{{ 'line-up' }}">Line Up</a>
        </div>
        <div>
            <a class="tw-uppercase tw-text-lg {% if this.page.id == 'ticket' %} tw-font-semibold tw-text-red-700 {% endif %}" href="{{ 'ticket' }}">Ticket</a>
        </div>
        <div>
            <a class="tw-uppercase tw-text-lg {% if this.page.id == 'screamo-box' %} tw-font-semibold tw-text-red-700 {% endif %}" href="{{ 'screamo-box' }}">Screamo Box</a>
        </div>
        <div>
            <a class="tw-uppercase tw-text-lg {% if this.page.id == 'sponsor' %} tw-font-semibold tw-text-red-700 {% endif %}" href="{{ 'sponsor' }}">Sponsor & Medpart</a>
        </div>
        <div>
            <a class="tw-uppercase tw-text-lg {% if this.page.id == 'contact-us' %} tw-font-semibold tw-text-red-700 {% endif %}" href="{{ 'contact-us' }}">Contact Us</a>
        </div>
    </div>
    <div>
        <p>&nbsp;</p>
    </div>
</div>